<nav role="navigation" class="navbar topnavbar md-whiteframe-glow-z1">
  <form name="header-form" ng-submit="submit()" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3 class="md-button md-ink-ripple" ng-click="goMain()">
          Banshee
        </h3>
        <span flex></span>
        <md-button aria-label="Administration" ui-sref="banshee.admin.project" ng-if="includes('banshee.main')">
          Admin
        </md-button>
        <md-button aria-label="Main" ui-sref="banshee.main" ng-if="includes('banshee.admin')">
          Index
        </md-button>
      </div>
    </md-toolbar>
  </form>
</nav>
