<nav role="navigation" class="navbar topnavbar md-whiteframe-glow-z1">
  <form name="header-form" ng-submit="submit()" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3 class="md-button md-ink-ripple" ng-click="goMain()" translate="LAYOUT_HEADER_TITLE">
        </h3>
        <span flex></span>
        <md-button ng-click="changeLanguage('zh')" ng-if="getLanguage()=='en'"> 简体中文
        </md-button>
        <md-button ng-click="changeLanguage('en')" ng-if="getLanguage()=='zh'"> English
        </md-button>
        <md-button aria-label="Administration" ui-sref="banshee.admin.project" ng-if="includes('banshee.main')" translate="LAYOUT_HEADER_ADMIN_TEXT">
        </md-button>
        <md-button aria-label="Main" ui-sref="banshee.main" ng-if="includes('banshee.admin')" translate="LAYOUT_HEADER_INDEX_TEXT">
        </md-button>
      </div>
    </md-toolbar>
  </form>
</nav>
