body {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  position: absolute;

  > section {
    min-height: 100%;
    background-color: #fff;
    padding: 75px 25px 70px 10px;
  }
}

.nav {
  > li {
    > a {
      color: #202020;
      background-color: transparent;

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.topnavbar-wrapper {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .topnavbar {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14), 0 0 2px 2px rgba(0, 0, 0, 0.098), 0 0 5px 1px rgba(0, 0, 0, 0.084);
  }
}

.navbar {
  background-color: #f6f6f6;
  .borderRadius(0);
}

.aside {
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .panel-container {
    margin-top: 75px;
  }
}

footer {
  width: 100%;
  padding-right: 20px;
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: center;
}

.brand {
  line-height: 48px;
  color: #202020;
  margin-left: 5px;
}

.panel-container {
  border-radius: 4px;
  margin-bottom: 16px;
  -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;
  overflow: hidden;
}

.panel-content {
  border: 1px solid #ccc;
}
// reset angular-material style
.form-dialog {
  min-width: 600px;
}

.md-mini {
  min-width: 30px;
  margin: 0 4px;
  min-height: 30px;
  line-height: 30px;
}

md-list-item.active {
  a {
    background-color: rgba(158,158,158,0.2);
  }
}
