  <!-- top navbar-->
  <header ui-view="header" class="topnavbar-wrapper"></header>

  <!-- sidebar-->
  <aside ui-view="navigation" class="aside col-md-2 padding-right-0"></aside>

  <!-- Main section-->
  <section id="section-content" class="padding-left-0" ng-class="{'col-md-10': !currentMain, 'col-md-12': currentMain, 'padding-right-10': currentMain}">
    <!-- Page content-->
    <div ui-view class="content-wrapper"></div>
  </section>
  <!-- Page footer-->
  <footer ui-view="footer"></footer>
