<div class="aside-inner" ng-show="includes('banshee.admin')">
  <section class="panel-container">
    <md-toolbar class="demo-toolbar md-primary">
      <div class="md-toolbar-tools">
        <h3>Navigation</h3>
      </div>
    </md-toolbar>
    <div class="panel-content">
      <md-list ng-cloak>
        <md-list-item ng-repeat="item in navList" ui-sref="{{item.state}}" ng-class="{active: includes(item.state)}" aria-label="nav item">
          <p ng-bind="item.name"> </p>
        </md-list-item>
      </md-list>
    </div>
  </section>
</div>
