<div class="aside-inner">
  <section class="panel-container">
    <md-toolbar class="demo-toolbar md-primary">
      <div class="md-toolbar-tools">
        <h3>Navigation</h3>
      </div>
    </md-toolbar>
    <div class="panel-content">
      <md-list ng-cloak>
        <md-list-item ui-sref="banshee.admin.project">
          <p> Project </p>
        </md-list-item>
        <md-list-item ui-sref="banshee.admin.user">
          <p> Receiver </p>
        </md-list-item>
        <md-list-item ui-sref="FIXME">
          <p> Configuration </p>
        </md-list-item>
      </md-list>
    </div>
  </section>
</div>
