<!-- START Sidebar (left)-->
<div class="aside-inner">
  <nav class="sidebar">
    <!-- START sidebar nav-->
    <ul class="nav">
      <li class="active">
        <a title="Navigation" class="ng-scope">
          <em class="icon-map"></em>
          <span>Navigation</span>
        </a>
        <ul class="nav sidebar-subnav collapse in" style="height: auto;">
          <li class="sidebar-subnav-header">Navigation</li>
          <li>
            <a ui-sref="/" title="Project">
              <span>Project</span>
            </a>
          </li>
          <li>
            <a ui-sref="/" title="Receiver">
              <span>Receiver</span>
            </a>
          </li>
          <li>
            <a ui-sref="/" title="Configuration">
              <span>Configuration</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- END sidebar nav-->
  </nav>
</div>
<!-- END Sidebar (left)-->
