.*sw[opn]
banshee
storage/storage_test/
storage/state-*x*
storage/metric
storage/index
storage/admin
test-config.json
test-storage
*.tar.gz
# front-end
static/node_modules
static/dist
static/npm-debug.log
static/public/css
static/public/fonts
static/public/images
static/public/js
static/public/node_modules
static/jshint-output.html
# Mr.Dev
test-statsd