<div id="admin-project-detail">
  <div class="col-lg-12">
    <!-- main panel -->
    <section class="panel-container">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3>
            <a ui-sref="banshee.main({project: projectId})" ng-bind="project.name"></a>
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Edit" ng-click="openModal($event, 'editProject', project)">
            <md-tooltip md-autohide>Edit name</md-tooltip>
            <md-icon class="fa fa-pencil" ng-style="{'font-size': '20px'}"></md-icon>
          </md-button>
          <md-button class="md-icon-button btnDelete" aria-label="Delete" ng-click="deleteProject()">
            <md-tooltip md-autohide>Delete Project</md-tooltip>
            <md-icon class="fa fa-trash-o" ng-style="{'font-size': '20px'}"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <!-- Panel content -->
      <section class="panel-content">
        <!-- tabs --->
        <md-tabs md-dynamic-height md-border-bottom>
          <!-- Rules -->
          <md-tab label="Rules">
            <md-content class="md-padding">
            <div ng-style="{'text-align': 'right'}" layout-padding>
                <md-button class="md-raised md-mini" aria-label="Add Rule" ng-click="openModal($event, 'addRule')">
                  <md-icon class="fa fa-plus-circle" ng-style="{'font-size': '21px'}"></md-icon>
                  <md-tooltip md-autohide>Add Rule</md-tooltip>
                </md-button>
              </div>
              <!-- Table -->
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th> # </th>
                      <th> Pattern </th>
                      <th> Condition </th>
                      <th class="th50"> TrustLine </th>
                      <th class="th50"></th>
                    </tr>
                  <tbody>
                    <tr ng-if="!rules || !rules.length">
                      <td colspan="3">not found any result</td>
                    </tr>
                    <tr ng-repeat="rule in rules">
                      <td class="padding-left-16" ng-bind="$index+1"></td>
                      <td>
                        <a ui-sref="banshee.main({pattern: rule.pattern})">
                          <kbd ng-bind="rule.pattern" ng-style="{'font-weight': 'bold'}"></kbd>
                        </a>
                      </td>
                      <td>
                        <code ng-bind="rule.repr"></code>
                      </td>
                      <td>
                        <code ng-if="!rule.trustLine">-</code>
                        <code ng-if="rule.trustLine" ng-bind="rule.trustLine"></code>
                      </td>
                      <td class="text-right">
                        <md-button class="md-raised md-warn md-mini" aria-label="delete rule" ng-click="deleteRule($event, rule.id, $index)">
                          <i class="fa fa-trash-o"></i>
                        </md-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- ./Table -->
            </md-content>
          </md-tab> <!-- ./Rules -->
          <md-tab label="Receivers">
            <md-content class="md-padding">
              <div ng-style="{'text-align': 'right'}" layout-padding>
                <md-button class="md-raised md-mini" aria-label="Add User" ng-click="openModal($event, 'addUserToProject')">
                  <md-icon class="fa fa-plus-circle" ng-style="{'font-size': '21px'}"></md-icon>
                  <md-tooltip md-autohide>Add User</md-tooltip>
                </md-button>
              </div>
              <!-- Table -->
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr ng-if="!users || !users.length">
                      <td colspan="3">not found any result</td>
                    </tr>
                    <tr ng-repeat="user in users">
                      <td ng-bind="$index+1" class="th50"></td>
                      <td>
                        <a ng-bind="user.name" ui-sref='banshee.admin.user.detail({id: user.id})' class="md-body-2"></a>
                      </td>
                      <td class="text-right">
                        <label class="label label-success" ng-if="user.universal">universal</label>
                        <md-button class="md-raised md-warn md-mini" aria-label="Remove User" ng-click="deleteUser($event, user.id, $index)" ng-if="!user.universal">
                          <md-icon class="fa fa-trash-o" ng-style="{'font-size': '21px'}"></md-icon>
                          <md-tooltip md-autohide>Remove User From Project</md-tooltip>
                        </md-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- ./Table -->
            </md-content>
          </md-tab> <!-- ./Users -->
      </section> <!-- ./Panel content -->
    </section> <!-- Main panel -->
  </div>
</div>
