<div id="admin-project-detail">
  <div class="col-lg-12">
    <!-- rule name panel -->
    <div class="panel-container">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3 ng-bind="project.name"></h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Edit" ng-click="openModal($event, 'editProject')">
            <md-tooltip md-autohide>Edit name</md-tooltip>
            <md-icon class="fa fa-pencil" ng-style="{'font-size': '20px'}"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
    </div>
    <!-- ./rule name panel -->

    <!-- Rules panel-->
    <div class="panel-container">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3>Rules</h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Add Rule" ng-click="openModal('addUser')">
            <md-tooltip md-autohide>Add Rule</md-tooltip>
            <md-icon class="fa fa-plus-circle" ng-style="{'font-size': '20px'}"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <!-- Panle Content -->
      <div class="panel-content">
        <!-- Table -->
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr ng-if="!rules || !rules.length">
                <td colspan="3">not found any result</td>
              </tr>
              <tr ng-repeat="rule in rules">
                <td class="padding-left-16" ng-bind="rule.id"></td>
                <td>
                  <a class="label label-warning" ui-sref="banshee.admin" ng-bind="rule.pattern"></a>
                </td>
                <td>
                  <p class="label label-danger" ng-bind="rule.repr"></p>
                </td>
                <td class="th100 text-right">
                  <md-button class="md-raised md-warn md-mini" aria-label="delete rule" ng-click="deleteRule($event, rule.id, $index)">
                    <i class="fa fa-trash-o"></i>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- ./Table -->
      </div>
    </div>
    <!-- ./Rules panel -->

    <!-- users panel-->
    <div class="panel-container">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3>Receivers</h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Add user" ng-click="openModal($event, 'addUser')">
            <md-tooltip md-autohide>Add user</md-tooltip>
            <md-icon class="fa fa-plus-circle" ng-style="{'font-size': '20px'}"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <!-- Panle Content -->
      <div class="panel-content">
        <!-- Table -->
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr ng-if="!users || !users.length">
                <td colspan="3">not found any result</td>
              </tr>
              <tr ng-repeat="user in users">
                <td ng-bind="user.id"></td>
                <td ng-bind="user.name"></td>
                <td>
                  <md-button class="md-raised md-primary md-mini" aria-label="delete user">
                    <i class="fa fa-trash-o"></i>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- ./Table -->
      </div>
    </div>
    <!-- ./users panel -->
  </div>
</div>
