#admin-project-list, #admin-project-detail {
  .th50 {
    width: 50px;
  }

  .th100 {
    width: 100px;
  }

  .th120 {
    width: 120px;
  }

  .panel .panel-heading {
    height: 55px;
    line-height: 35px;
  }

  .btnDelete {
    margin-left: 0;
    padding-left: 0;
  }
}

.ruleModal {
  .checkbox {
    margin-left: 20px;
  }
}

md-autocomplete {
  height: 42px;
}
