<div id="admin-project-list">
  <div class="col-lg-12">
    <!-- START panel-->
    <div class="panel-container">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3>Project</h3>
          <span flex></span>
          <md-button
            class="md-icon-button"
            aria-label="Create Project"
            ng-click="openModal($event)">
              <md-tooltip md-autohide>Create Project</md-tooltip>
              <md-icon class="fa fa-plus-circle" ng-style="{'font-size': '20px'}"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <div class="panel-content">
        <!-- START table-responsive-->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="!projects || !projects.length">
                <td colspan="3">not found any result</td>
              <tr>
              <tr ng-repeat="project in projects">
                <td ng-bind="project.id"></td>
                <td>
                  <a ng-bind="project.name" ui-sref='banshee.admin.project.detail({id: project.id})' class="md-body-2">
                  </a>
                </td>
                <td style="text-align: right;">
                  <md-button class="md-raised md-mini" ui-sref="banshee.admin" aria-label="project detail">
                    <i class="fa fa-search"></i>
                  </md-button>
                  <md-button class="md-raised md-primary md-mini"  ui-sref='banshee.admin.project.detail({id: project.id})' aria-label="edit project">
                    <i class="fa fa-pencil"></i>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- END table-responsive-->
      </div>
    </div>
    <!-- END panel-->
  </div>
</div>
