<md-dialog aria-label="Create" class="form-dialog" ng-cloak>
  <form name="form" class="form-horizontal" ng-submit="submit()" onvalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind="titles[opt]"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="fa fa-times-circle" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-content layout-padding>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input name="projectName" ng-model="project.name" required>
          <div ng-messages="form.projectName.$error">
            <div ng-message="required" ng-if="form.projectName.$dirty">This field is required.</div>
          </div>
        </md-input-container>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">Cancel</md-button>
      <md-button md-no-ink class="md-primary" ng-disabled="form.$invalid" type="submit">Submit</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
