<form name="form" class="form-horizontal" ng-submit="create()" onvalidate>
  <div class="modal-header">
    <h4 class="modal-title inline-block">Create Project</h4>
  </div>

  <div class="modal-body row">

    <div class="form-group col-md-10">
      <label for="input-id-1" class="col-md-4 control-label">Project Name</label>
      <div class="col-md-8">
        <input type="text" name="projectName" class="form-control" ng-model="project.name" required>
        <small ng-if="form.projectName.$dirty && form.projectName.$error.required" class="help-block color-red">
          This field is required.
        </small>
      </div>
    </div>
  </div>

  <div class="modal-footer text-right">
    <button class="btn btn-default" type="button" ng-click="$dismiss()">cancel</button>
    <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">submit</button>
  </div>
</form>
