<md-dialog aria-label="Create" class="form-dialog" ng-cloak>
  <form name="form" class="form-horizontal" ng-submit="create()" onvalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Project</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="fa fa-times-circle" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content row">
        <div class="form-group col-md-12">
          <label for="input-id-1" class="col-md-2 control-label">Name</label>
          <div class="col-md-9">
            <input type="text" name="projectName" class="form-control" ng-model="project.name" required>
            <small ng-if="form.projectName.$dirty && form.projectName.$error.required" class="help-block color-red">
              This field is required.
            </small>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button>Cancel</md-button>
      <md-button md-no-ink class="md-primary"  ng-disabled="form.$invalid" type="submit">Submit</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
