<md-dialog aria-label="AddRule" class="form-dialog" ng-cloak>
  <!-- Add Rule Form -->
  <form name="form" class="form-horizontal" ng-submit="submit()" onvalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Rule</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="fa fa-times-circle" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- Dialog Content -->
    <md-dialog-content>
      <md-content layout-padding>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Pattern</label>
          <input type="text" name="pattern" ng-model="rule.pattern" required>
          <div ng-messages="form.pattern.$error" ng-if="form.pattern.$dirty">
            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>
        <div layout="row">
          <div flex="15">Alerting</div>
          <div flex="80">
            <md-checkbox layout="row" ng-model="rule.onTrendUp"> On trend up </md-checkbox>
            <md-checkbox layout="row" ng-model="rule.onTrendDown"> On trend Down </md-checkbox>
            <md-checkbox layout="row" ng-model="rule.onValueGt"> On Value &gt;= thresholdMax </md-checkbox>
            <md-checkbox layout="row" ng-model="rule.onValueLt"> On Value &lt;= thresholdMin </md-checkbox>
            <md-checkbox layout="row" ng-model="rule.onTrendUpAndValueGt"> On trend up and Value &gt;= thresholdMax </md-checkbox>
            <md-checkbox layout="row" ng-model="rule.onTrendDownAndValueLt"> On trend down and Value &lt;= thresholdMin </md-checkbox>
            <md-input-container class="md-block" flex-gt-sm>
              <label>thresholdMax</label>
              <input type="number" name="thresholdMax" ng-model="rule.thresholdMax">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>thresholdMin</label>
              <input type="number" name="thresholdMin" ng-model="rule.thresholdMin">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Don't alert me when value is less than</label>
              <input type="number" name="trustLine" ng-model="rule.trustLine">
            </md-input-container>
          </div>
        </div>
      </md-content>
    </md-dialog-content> <!-- Dialog Content -->
    <!-- Dialog Buttons -->
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">Cancel</md-button>
      <md-button md-no-ink class="md-primary" ng-disabled="form.$invalid" type="submit">Submit</md-button>
    </md-dialog-actions> <!-- ./Dialog Buttons-->
  </form> <!-- ./Add Rule Form -->
</md-dialog>
