<md-dialog aria-label="Add Rule" class="form-dialog" ng-cloak>
  <!-- Add Rule Form -->
  <form name="form" class="form-horizontal" ng-submit="submit()" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Rule</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="fa fa-times-circle" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- Dialog Content -->
    <md-dialog-content>
      <md-content layout-padding>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Pattern</label>
          <input type="text" name="pattern" ng-model="rule.pattern" required>
          <div ng-messages="form.pattern.$error" ng-if="form.pattern.$dirty">
            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>
        <div layout="row" flex="100">
          <md-input-container flex="40" class="md-block">
            <md-checkbox ng-model="rule.trendUp">
              On trend up
              <span ng-style="{'color': '#777'}"> (optional) </span>
            </md-checkbox>
          </md-input-container>
          <md-input-container flex="20" class="md-block">
            <label> and </label>
          </md-input-container>
          <md-input-container class="md-block" flex="40">
            <label> Value &gt;= (optional) </label>
            <input type="number" name="thresholdMax" ng-model="rule.thresholdMax">
          </md-input-container>
        </div>
        <div layout="row" flex="100">
          <md-input-container flex="40" class="md-block">
            <md-checkbox ng-model="rule.trendDown">
              On trend down
              <span ng-style="{'color': '#777'}"> (optional) </span>
            </md-checkbox>
          </md-input-container>
          <md-input-container flex="20" class="md-block">
            <label> and </label>
          </md-input-container>
          <md-input-container class="md-block" flex="40">
            <label> Value &lt;= (optional) </label>
            <input type="number" name="thresholdMin" ng-model="rule.thresholdMin">
          </md-input-container>
        </div>
      </md-content>
    </md-dialog-content> <!-- Dialog Content -->
    <!-- Dialog Buttons -->
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">Cancel</md-button>
      <md-button md-no-ink class="md-primary" ng-disabled="form.$invalid" type="submit">Submit</md-button>
    </md-dialog-actions> <!-- ./Dialog Buttons-->
  </form> <!-- ./Add Rule Form -->
</md-dialog>
