.header-link {
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.brand {
  padding-left: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 46px;
  composes: header-link;
}
.header-right {
  line-height: 46px;
  color: #fff;
}
.header-back {
  composes: header-link;
  margin-right: 24px;
}
