.link {
  text-decoration: none;
  color: #444;

  &:hover {
    text-decoration: underline;
  }
}

.row {
  width: 100%;
  display: inline-block;
}

.label {
  width: 80px;
  float: left;
  display: inline-block;
}

.rightPart {
  width: 500px;
  float: left;
}

.verticalAlign {
  margin-top: -18px;
}

.divVertical {
  margin-top: -13px;
}

.smallField {
  width: 150px!important;
  margin-left: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}
